spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cloud:
    gcp:
      project-id: ${GCP_PROJECT_ID}
      credentials:
        location: classpath:credentials.json
logging:
  level:
    root: INFO
    org.springframework: INFO
    com.marllon.task_api: DEBUG
secret:
  jwt:
    name: jwtSecret
    version: latest

